<header>
        <h1>Bienvenido a mi Portafolio</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#biografia">Sobre mí</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="contacto.html">Contáctame</a></li>
            </ul>
        </nav>
    </header>